# Ignore
/stowed/.config/*
/stowed/.config/nvim/lazy-lock.json
/stowed/.zsh/plugins.sh
/stowed/.zshenv

# Allow
!/stowed/.config/alacritty/
!/stowed/.config/autorandr
!/stowed/.config/awesome
!/stowed/.config/bacon
!/stowed/.config/bat
!/stowed/.config/beets
!/stowed/.config/brave-beta-flags.conf
!/stowed/.config/brave-flags.conf
!/stowed/.config/cava
!/stowed/.config/doom
!/stowed/.config/dunst
!/stowed/.config/dwmblocks
!/stowed/.config/eww
!/stowed/.config/fastfetch/
!/stowed/.config/gh
!/stowed/.config/goneovim
!/stowed/.config/htop/
!/stowed/.config/hypr
!/stowed/.config/i3
!/stowed/.config/mimeapps.list
!/stowed/.config/neovide/
!/stowed/.config/newsboat/config
!/stowed/.config/nix
!/stowed/.config/nixpkgs
!/stowed/.config/nsxiv/
!/stowed/.config/nvim
!/stowed/.config/picom.conf
!/stowed/.config/polybar
!/stowed/.config/rofi
!/stowed/.config/starship.toml
!/stowed/.config/systemd
!/stowed/.config/user-dirs.dirs
!/stowed/.config/user-dirs.locale
!/stowed/.config/vimb
!/stowed/.config/waybar
!/stowed/.config/wezterm/
!/stowed/.config/wofi
!/stowed/.config/yazi/
!/stowed/.config/zathura
!/stowed/.config/amfora
