[submodule ".doomacs.d"]
	path = .doomacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule ".bookmarks"]
	path = .bookmarks
	url = git@github.com:sreedevk/bookmarks.git
