# Ignore
/stowed/.config/*

# Allow
!/stowed/.config/bacon
!/stowed/.config/bat
!/stowed/.config/brave-flags.conf
!/stowed/.config/cava
!/stowed/.config/doom
!/stowed/.config/goneovim
!/stowed/.config/nixpkgs
!/stowed/.config/nvim
!/stowed/.config/picom.conf
!/stowed/.config/polybar
!/stowed/.config/rofi
!/stowed/.config/starship.toml
!/stowed/.config/systemd
!/stowed/.config/user-dirs.dirs
!/stowed/.config/user-dirs.locale
!/stowed/.config/vimb
!/stowed/.config/waybar
!/stowed/.config/wezterm/
!/stowed/.config/wofi
!/stowed/.config/yazi/
!/stowed/.config/zathura
