/* Main window */
#window {
  margin: 0px;
  border: 1px solid #bd93f9;
  background-color: #282a36;
  font-family: "Iosevka Nerd Font";
  font-size: 16px;
}

/* Input area */
#input {
  margin: 1px 0px;
  border: none;
  color: #bbbbbb;
  background-color: #222222;
  border: 1px solid gray;
}

/* Inner box */
#inner-box {
  margin: 0px;
  border: none;
  background-color: #222222;
}

/* Outer box */
#outer-box {
  margin: 2px 2px;
  border: none;
  background-color: #222222;
}

/* Scroll area */
#scroll {
  margin: 0px;
  border: none;
}

/* Text area */
#text {
  margin: 1px 0px;
  border: none;
  color: #bbbbbb;
}

/* Selected items */
#entry:selected {
  background-color: #c6a0f6;
}

#entry:selected #text {
  font-weight: bold;
}

#text:selected {
  color: #24273a;
}

#entry {
  padding: 3px 5px;
  margin: 0px 5px;
}
