[user]
	email = sreedevpadmakumar@gmail.com
	name = sreedev
	signingkey = F2D006638E49CD45
[core]
	attributesfile = /home/sreedev/.gitattributes
  editor = nvim
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
  ui = true
[alias]
  st     = status
  co     = checkout
  br     = branch
  cb     = checkout -b
  dfs    = diff --staged
  cm     = commit
  ca     = commit --amend
  cp     = cherry-pick
  cl 	   = clone --recursive -j8
  wta    = worktree add
  wtr    = worktree remove
[rerere]
  enabled = false
[advice]
  detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
