elixir 1.13.0-otp-24
erlang 24.0.5
postgres 13.2
nodejs 16.6.1
haskell 9.2.1
ruby 3.0.2
clojure 1.10.3.943
scala 3.0.1
groovy 3.0.8
java openjdk-17
rust 1.54.0
julia 1.6.2
rebar 3.16.1
elasticsearch 7.15.2
lazydocker 0.12
crystal 1.2.2
leiningen 2.9.7
gradle 7.3.2
gleam 0.18.2
maven 3.8.4
