* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Iosevka NF;
  font-size: 13px;
}

window#waybar {
  background-color: #1e2030;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-dnd {
  color: #cad3f5;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #cad3f5;
}

#custom-memory {
  background-color: transparent;
  color: #cad3f5;
  padding: 0px 10px;
}

#custom-gpu {
  background-color: transparent;
  color: #cad3f5;
  padding: 0px 10px;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#wireplumber {
  background-color: transparent;
  color: #cad3f5;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: CozetteVector Nerd Font;
  background-color: transparent;
  color: #cad3f5;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
